## 인공지능 개론 4주차

In [2]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras

file_path ="/Users/yunseongmun/Documents/Ai_Lecture/data/iris/iris.data"
headers = ['sepal length in cm', 'sepal width in cm', 'petal length in cm','petal width in cm', 'class']

df = pd.read_csv(file_path, header=None, names=headers).drop('class',axis=1)
df

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

In [3]:
y = df['sepal length in cm']
X = df.drop('sepal length in cm',axis=1)

X

     sepal width in cm  petal length in cm  petal width in cm
0                  3.5                 1.4                0.2
1                  3.0                 1.4                0.2
2                  3.2                 1.3                0.2
3                  3.1                 1.5                0.2
4                  3.6                 1.4                0.2
..                 ...                 ...                ...
145                3.0                 5.2                2.3
146                2.5                 5.0                1.9
147                3.0                 5.2                2.0
148                3.4                 5.4                2.3
149                3.0                 5.1                1.8

[150 rows x 3 columns]

In [5]:
from sklearn.model_selection import train_test_split
# Build a logistic regression classifier and predict
X_train, X_test, y_train, y_test=train_test_split(X,
                                                  y,
                                                  test_size=0.2,
                                                  shuffle=True,
                                                  random_state=12)
print(f'(x,y) train: {X_train.shape}, {y_train.shape}')
print(f'(x,y) test: {X_test.shape}, {y_test.shape}')

(x,y) train: (120, 3), (120,)
(x,y) test: (30, 3), (30,)

In [6]:
from sklearn.linear_model import LinearRegression


model = LinearRegression()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ly_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(ly_preds, y_test))

평균제곱근오차 0.12258277546894877

In [7]:
from sklearn.tree import DecisionTreeRegressor


model = DecisionTreeRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

dy_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(dy_preds, y_test))

평균제곱근오차 0.18175000000000002

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error


model = RandomForestRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ry_preds = model.predict(X_test)
print(f'평균제곱근오차', mean_squared_error(ry_preds, y_test))

평균제곱근오차 0.11829449804629615

In [9]:
from sklearn.svm import SVR

model = SVR(kernel='linear')
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ry_preds = model.predict(X_test)
print(f'평균제곱근오차', mean_squared_error(ry_preds, y_test))

평균제곱근오차 0.12035489238591904

In [10]:
from sklearn.neighbors import KNeighborsRegressor

models=[]
# 최적의 k 찾기
for k in range(2,10):
    models.append(KNeighborsRegressor(n_neighbors=k))
    models[k-2].fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

knn_preds = []
for  i, model in enumerate (models) :
    knn_preds.append(model.predict(X_test))
    print(f'평균제곱근오차 k = {i+2}', mean_squared_error(knn_preds[i], y_test))

평균제곱근오차 k = 2 0.1206666666666667
평균제곱근오차 k = 3 0.13400000000000017
평균제곱근오차 k = 4 0.12370833333333343
평균제곱근오차 k = 5 0.11684000000000012
평균제곱근오차 k = 6 0.12876851851851862
평균제곱근오차 k = 7 0.139639455782313
평균제곱근오차 k = 8 0.13661458333333343
평균제곱근오차 k = 9 0.12218106995884778

k최근접 알고리즘은 k가 클수록 underfitting이 되고, k가 작을수록 overfitting이 된다.  
따라서, 현제 데이터 셋으로는 k에 따라 mse가 큰 차이는 없지만,   
과적합인 경우를 방지하기 위해, k = 5가 최적이라고 말할 수 있다.

### 결론
RandomForestRegressor 모델이 가장 mse가 작은 모델이라고 할 수 있다.